// THEME
$dark-theme: true !default;

// COLORS
$primary: #030e20;
$secondary: rgb(247, 156, 72);
$light: #f8f9fa !default;
$dark: #333 !default;

// FONT WEIGHT
$bold: 600;
$bolder: 900;
$light-weight: 300;
$lighter: 100; 
